*, ::after, ::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app {
  width: 95%;
  /* max-width: 1200px; */
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menubox {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logobox {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.setting {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pagebox {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.presentation {
  width: 100%;
  max-width: 1200px;
  height: 70vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infosbox {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.infos{
  width: 90%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 4.5vw;
  font-weight: bold;
}
.contact{
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.email {
  width: 70%;
  height: 75%;
  padding-left: 5%;
}
.get-started {
  width: 25%;
  height: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  cursor: pointer;
}

.bilanbox {
  width: 100%;
  max-width: 1200px;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.bilancellule {
  width: 20%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.bilantitle {
  font-size: 2.5vw;
  font-weight: bold;
  margin: 10% 0;
}